.menu {
  width: 100%;
  justify-content: center;
  display: flex;
  height: 100%;
  min-height: 100vh;
  background-repeat: no-repeat;
  background-color: #222223;
  background-size: cover;
  color: white;
}

.container {
  max-width: 1200px;
  width: 100%;
  height: 100%;
  padding: 150px 50px 0 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  font-size: 48px;
}

.links {
  display: flex;
  justify-content: center;
}

.link {
  font-size: 30px;
  padding-right: 120px;
  padding-left: 60px;
  cursor: pointer;
  transition-duration: 0.5s;
}

.link:hover {
  color: #1C675A;
}

.gallery {

}

.content {
  display: flex;
  height: 100%;
  max-width: 1200px;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
}

.img {
  position: relative;
  display: flex;
  justify-content: flex-end;
  max-width: 250px;
  width: 100%;
  max-height: 550px;
  height: 550px;
  margin: 50px;
  transition-duration: 0.5s;
}

.img:hover {
  opacity: 0.6;
}

.border {
  border-radius: 10px;
}

.active {
  position: fixed;
  top: 5%;
  border-radius: 12px;
  z-index: 1000;
  height: 90%;
  width: 70%;
}

.linkActive {
  font-size: 30px;
  padding-right: 120px;
  padding-left: 60px;
  color: #1C675A;
  cursor: pointer;
}

@media screen and (max-width: 900px) {
  .container {
    padding: 0;
  }
  .img {
    margin: 20px 30px;
  }
}

@media screen and (max-height: 750px) {
  .container {
    padding: 0;
  }
}

@media screen and (max-width: 700px) {
  .img {
    margin: 20px 20px;
  }
}

@media screen and (max-width: 420px) {
  .img {
    margin: 20px 10px;
    width: 100%;
  }
}

@media screen and (max-width: 320px) {
  .title {
    font-size: 30px;
  }
  .img {
    width: 100%;
    height: 100%;
  }
}

