.container {
  display: flex;
  color: black;
  flex-direction: column;
  text-align: left;
}

.textContainer {
  max-width: 500px;
  width: 500px;
}

.title {
  font-size: 20px;
  margin-bottom: 20px;
  max-width: 401px;
  width: 95%;
  border-radius: 5px;
  outline: none;
  border: 1px solid #1C675A;
}

.titleName {
  width: 100%;
  padding: 0;
  margin: 0;
}

.subtitle {
  margin: 0;
  padding: 0;
}

.text {
  padding: 10px 0;
  font-size: 20px;
  max-width: 406px;
  width: 100%;
  max-height: 20vh;
  min-height: 20vh;
  height: 20vh;
  resize: none;
  border-radius: 12px;
  border: 1px solid #1C675A;
}

.save {
  padding: 10px;
  color: white;
  background-color: #1C675A;
  border-radius: 10px;
  border: none;
  font-size: 16px;
  width: 150px;
  margin-top: 20px;
  cursor: pointer;
}

.save:hover {
  background-color: #14463c;
}

.imgContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-left: 80px;
}


.delete {
  padding: 5px 20px;
  color: white;
  background-color: #1C675A;
  border-radius: 10px;
  border: none;
  font-size: 12px;
  margin-top: 150px;
  cursor: pointer;
}

.delete:hover {
  background-color: #14463c;
}

.imgChanger {
  background-color: gray;
  border-radius: 20px;
  max-width: 350px;
  width: 250px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 500px;
}


.input[type=file] {
  position: absolute;
  opacity: 0;
  display: block;
  width: 0;
  height: 0;
  margin-top: 190px;
  margin-left: 10px;
}

.label {
  position: relative;
  display: inline-block;
  width: 100%;
}

.imageEdit {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin-top: 190px;
  border-radius: 0 0 10px 10px;
  background-color: #1C675A;
  color: white;
  padding: 10px 70px;
  font-size: 24px;
  cursor: pointer;
}

.imageEdit:hover {
  background-color: #14463c;
}

.two {
  display: flex;
}

.buttonContainer {
  display: flex;
  justify-content: space-between;
}


.containerInput {
  position: relative;
  width: 100%;
}

.containerInput:hover {
  color: cornflowerblue;
}

.containerInput:hover .titleText {
  color: cornflowerblue;
}

.containerInput:hover .titleInput {
  color: cornflowerblue;
}

.titleInput {
  text-align: left;
  font-size: 14px;
  color: #1C675A;
}

.titleText {
  text-align: left;
  font-size: 14px;
  color: #1C675A;
}

.text::-webkit-scrollbar {
  width: 10px;
}

.text::-webkit-scrollbar-track {
  background-color: white;
  border-radius: 10px;
}

.text::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #367272;
}

@media screen and (max-width: 800px) {
  .container {
    flex-direction: column;
  }
  .textContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    width: 100%;
  }
  .imgContainer {
    padding: 0;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }
  .delete {
    margin-top: 10px;
  }
  .two {
    flex-direction: column;
  }
  .buttonContainer {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .titleText {
    top: -8%;
  }
}

@media screen and (max-width: 500px) and (max-height: 800px) {
  .text {
    min-height: 40vh;
  }
}