.container{
    display: flex;
    color: black;
    text-align: left;
}
.textContainer{
    max-width: 500px;
}

.title{
    font-size: 32px;
    color: #7D4A7D;
    margin: 20px 0;
    max-width: 390px;
    width: 100%;
}

.subtitle{
    margin: 0;
    padding: 0;
}
.text{
    padding: 10px 0;
    font-weight: 500;
    font-size: 20px;
    max-width: 405px;
    width: 100%;
    max-height: 20vh;
    height: 20vh;
    resize: none;
}

.save{
    padding: 10px;
    color: white;
    background-color: #1C675A;
    border-radius: 10px;
    border: none;
    font-size: 16px;
    width: 150px;
    margin-top: 20px;
    cursor: pointer;
}
.save:hover{
    background-color: #14463c;
}
.imgContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-left: 80px;
}


.delete{
    padding: 5px 20px;
    color: white;
    background-color: #1C675A;
    border-radius: 10px;
    border: none;
    font-size: 12px;
    margin-top: 150px;
    cursor: pointer;
}
.delete:hover{
    background-color: #14463c;
}
.imgChanger{
    background-color: gray;
    border-radius: 20px;
    max-width: 350px;
    width: 250px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 500px;
}



.input[type=file]{
    position: absolute;
    opacity: 0;
    display: block;
    width: 0;
    height: 0;
    margin-top: 190px;
    margin-left: 10px;
}

.label{
    position: relative;
    display: inline-block;
}
.imageEdit{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-top: 190px;
    border-radius: 0 0 10px 10px;
    background-color: #1C675A;
    color: white;
    padding: 10px 70px;
    font-size: 24px;
    cursor: pointer;
}
.imageEdit:hover{
    background-color: #14463c;
}

@media screen and (max-width: 800px) {
    .container{
        flex-direction: column;
    }
    .textContainer{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 20px;
        text-align: center;
    }
    .imgContainer{
        padding: 0;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
    }
    .delete{
        margin-top: 10px;
    }
}
