.card{
    max-width: 294px;
    width: 100%;
    height: 194px;
    margin: 50px;
    max-height: 200px;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: gray 3px solid;
    cursor: pointer;
}
.plus{
    font-size: 60px;
    color: gray;
}
.card:hover{
    border: #d0d0d0 3px solid;
}
.card:hover .plus{
    color: #d0d0d0;
}