.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
    color: white;
}
.cardContainer{
    display: flex;
    justify-content: center;
    max-width: 1200px;
    width: 100%;
    flex-wrap: wrap;
}
.title{
    font-size: 48px;
}
.img{
    border-radius: 20px;
    cursor: pointer;
}