.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
  color: white;
}

.cardContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
  width: 95%;
  flex-wrap: wrap;
}

.addContainer {
  @extend .cardContainer;
  width: 90%;
}


.title {
  font-family: 'Montserrat', Serif;
  font-size: 48px;
  padding: 50px 0 0 0;
}

.img {
  border-radius: 20px;
  cursor: pointer;
  max-width: 300px;
  height: 200px;
  width: 100%;
}

.closeContainer {
  position: relative;
  display: flex;
  justify-content: flex-end;
  max-width: 300px;
  width: 100%;
  max-height: 210px;
  height: 210px;
  margin: 50px;
}

.custom {
  border-radius: 10px;
}

.close {
  color: white;
  position: absolute;
  right: 10px;
  top: 5px;
  font-size: 23px;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-content: center;
  cursor: pointer;
  transition-duration: 0.5s;
  border: none;
}

.close:hover {
  color: red;
}

@media screen and (max-width: 1240px) {
  .closeContainer {
    margin: 30px;
  }
}

@media screen and (max-width: 900px) {
  .closeContainer {
    margin: 30px;
  }
}

@media screen and (max-width: 420px) {
  .closeContainer {
    margin: 25px 10px;
  }
}

@media screen and (max-width: 320px) {
  .closeContainer {
    height: unset;
    width: 100%;
  }
}