.input{
    max-width: 200px;
    width: 200px;
    color: gray;
    border-right: gray;
    outline: none;
    background: transparent;
    font-size: 20px;
    padding-left: 30px;
}
.search{
    position: relative;
    max-width: 200px;
}
.img{
    position: absolute;
    top: -5px;
}