.textArea {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  column-gap: 20px;
  flex-direction: column;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  color: white;
}

.squareContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  max-width: 600px;
  width: 100%;
}

.square {
  display: flex;
  border-radius: 30px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-height: 100%;
  max-width: 500px;
  width: 100%;
  background-color: #222223;
  margin: 0 10px;
  font-size: 20px;
  border: 1px solid #7D4A7D;
  padding: 20px;
}

.title {
  padding-bottom: 20px;
  margin: 0;
  font-size: 40px;
}

.buttonContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
  text-decoration: none;
}

.p {
  text-align: left;
  width: 100%;
  font-size: 16px;
}

.textArea:hover .p {
  color: cornflowerblue;
}


@media screen and (max-width: 550px) {
  .title {
    font-size: 30px;
  }
}
