.card {
  max-width: 230px;
  width: 100%;
  height: 270px;
  margin: 30px;
  max-height: 270px;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  background: linear-gradient(rgba(255, 255, 255, 0.7), rgba(0, 0, 0, 0.8));
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

}

.img {
  cursor: pointer;
  max-width: 18px;
  width: 100%;
  height: 17px;
}

.close {
  color: white;
  font-size: 23px;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-content: center;
  cursor: pointer;
  transition-duration: 0.5s;
  border: none;
}

.close:hover {
  color: red;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  max-width: 200px;
}

.closeContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 10px 0 10px;
}

.textContainer {
  text-align: center;
  max-height: 170px;
  height: 100%;
}

.title {
  font-size: 24px;
  overflow-wrap: break-word;
}

.text {
  font-size: 14px;
  color: #A9A9A9;
  overflow-wrap: break-word;
}

.button {
  border: none;
  background-color: #1C675A;
  height: 40px;
  width: 100%;
  border-radius: 0 0 30px 30px;
  font-size: 20px;
  color: white;
  font-weight: 700;
  cursor: pointer;
}

.buttonContainer {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 100%;
  width: 100%;
}

.deleteModule {
  display: flex;
  flex-direction: column;
}

.yes {
  display: flex;
  justify-content: center;
  color: white;
  background-color: #be2323;
  padding: 10px;
  font-size: 20px;
  max-width: 120px;
  width: 100%;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.no {
  display: flex;
  justify-content: center;
  color: white;
  background-color: green;
  padding: 10px;
  font-size: 20px;
  max-width: 120px;
  width: 100%;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.yes:hover {
  background-color: #562020;
}

.no:hover {
  background-color: #165b16;
}

.titleModule {
  color: black;
  width: 100%;
}

.buttonContainerM {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 50px;
  padding-top: 20px;
}


@media screen and (max-width: 350px) {
  .title {
    font-size: 20px;
  }
  .text {
    font-size: 12px;
  }
}
