.sliderMain{
    position: relative;
    width: 100%;
    max-height: 100vh;
    background-color: #222223;
}
.text{
    position: absolute;
    top: 30%;
    left: 23%;
    color: white;
    max-width: 1000px;
    width: 100%;
    font-size: 96px;
    font-weight: 500;
}
.img{
    position: relative;
    width: 100%;
}