.sliderMain{
    position: relative;
    width: 100%;
    max-height: 100vh;
    background-color: #222223;
}
.text{
    position: absolute;
    top: 30%;
    left: 20%;
    color: white;
    max-width: 1000px;
    width: 100%;
    font-size: 96px;
    font-weight: 500;
}
.img{
    position: relative;
    width: 100%;
}
@media screen and (max-width: 1400px) {
    .text{
        left: 13%;
        font-size: 76px;
    }
}
@media screen and (max-width: 1200px) {
    .text{
        max-width: 900px;
        left: 9%;
        font-size: 66px;
    }
}

@media screen and (max-width: 1120px) {
    .text{
        max-width: 800px;
        left: 10%;
        font-size: 56px;
    }
}
@media screen and (max-width: 900px) {
    .text{
        max-width: 600px;
        left: 6%;
        font-size: 46px;
    }
}
@media screen and (max-width: 720px) {
    .text{
        max-width: 500px;
        left: 13%;
        font-size: 36px;
    }
}
@media screen and (max-width: 620px) {
    .text{
        max-width: 450px;
        left: 10%;
        font-size: 36px;
    }
}


@media screen and (max-width: 500px) {
    .text{
        max-width: 500px;
        left: 0;
        font-size: 26px;
    }
}
@media screen and (max-width: 420px) {

}