.module{
    height: 100vh;
    width: 100%;
    background-color: rgba(0,0,0,0.4);
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    opacity: 0;
    pointer-events: none;
    transition: 0.5s;

}
.active{
    opacity: 1;
    height: 100vh;
    width: 100%;
    background-color: rgba(0,0,0,0.4);
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    pointer-events: all;
    transition: 0.5s;
    z-index: 10000;
    overflow: hidden;
}

.moduleContent {
    padding: 96px;
    border-radius: 12px;
    background-color: white;
    transform: scale(0.5);
    transition: 0.4s all;

}

.moduleContentActive{
    transition: 0.4s all;
    transform: scale(1);
    padding: 61px 96px;
    border-radius: 12px;
    background-color: white;
    z-index: 10000;
    position: relative;
}

.close{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: #1C675A;
    border: none;
    border-radius: 10px;
    max-width: 30px;
    max-height: 30px;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

@media (max-width: 1400px) {
    .module{
        overflow: hidden;
        height: 80vh;
        width: 100%;
        background-color: rgba(0,0,0,0.4);
        position: fixed;
        display: flex;
        justify-content: center;
        align-items: center;
        top: 0;
        left: 0;
        opacity: 0;
        pointer-events: none;
        transition: 0.5s;
    }
    .active{
        overflow: hidden;
        opacity: 1;
        height: 100vh;
        width: 100%;
        background-color: rgba(0,0,0,0.4);
        position: fixed;
        display: flex;
        justify-content: center;
        align-items: center;
        top: 0;
        left: 0;
        pointer-events: all;
        transition: 0.5s;
    }

    .moduleContent{
        overflow: hidden;
        padding: 20px;
        border-radius: 12px;
        background-color: white;
        transform: scale(0.5);
        transition: 0.4s all;

    }

    .moduleContentActive{
        overflow: hidden;
        transition: 0.4s all;
        transform: scale(0.9);
        padding: 20px;
        border-radius: 12px;
        background-color: white;
    }

}
@media (max-height: 880px) {
    .moduleContentActive{
        height: 100%;
        overflow: auto;
        transform: scale(1);
        padding: 20px;
    }
    .close{
        top:5%;
    }
}
@media (max-width: 420px) {
    .moduleContentActive{
        height: 100%;
        overflow: auto;
        transform: scale(1);
        padding: 20px;
    }
    .close{
        top:5%;
    }
}

@media (max-height: 880px) and (min-width: 1024px){
    .moduleContentActive{
        height: 60%;
        transform: scale(0.9);
    }
}