.sliderMain{
    width: 100%;
    justify-content: center;
    display: flex;
    height: 100vh;
    max-height: 100vh;
    color: white;
    text-align: left;
    background: black;
}

.slider{

}
.slides{

}

.slide{

}

.navigation{

}
.bar{

}