.button {
    padding: 10px;
    background-color: #1C675A;
    border-radius: 30px;
    color: white;
    border: none;
    cursor: pointer;
    max-width: 120px;
    width: 100%;
}

.button:hover {
    background-color: #1e3a1b;
}