.button {
    padding: 15px 30px;
    background-color: #1C675A;
    border-radius: 30px;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 20px;
}

.button:hover {
    background-color: #1e3a1b;
    opacity: 0.9;
}