@mixin navbar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  max-width: 100%;
  background-color: transparent;
  font-weight: 700;
  line-height: 24px;
  border-radius: 0 20px 20px 0;
  letter-spacing: 0;
}

@mixin link {
  width: 90%;
  border-radius: 15px;
  text-decoration: none;
  color: black;
  padding: 5px 0;
  margin: 5px 0;
}

.navbar {
  @include navbar;
  max-width: 400px;
  width: 100%;
  position: relative;
}

.navbarContainer {
  position: fixed;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: white;
  max-width: 400px;
  border-radius: 0 20px 20px 0;
  width: 100%;
  height: 100%;
  max-height: 100vh;
}

.navbarSecret {
  @include navbar;
}

.title {
  font-size: 40px;
}

.img {
  max-width: 180px;
  width: 100%;
  border-radius: 50%;
  top: 10%;
}

.name {
  font-size: 24px;
  padding: 15px;
  top: 30%;
}

.position {

  top: 33%;
  font-size: 20px;
  padding: 0 10px;
}

.links {
  font-size: 30px;
  line-height: 44px;
  height: 100%;
  max-width: 400px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  top: 40%;
  overflow: auto;
}

.link {
  @include link;
  transition-duration: 0.5s;
}

.link:hover {
  background-color: #D8BBD8;
  box-shadow: 0 0 50px 0 #D8BBD8;
}

.active {
  @include link;
  background-color: #D8BBD8;
  box-shadow: 0 0 50px 0 #D8BBD8;
}

.secret {
  display: none;
  visibility: collapse;
}

.buttonBack {
  border: transparent;
  background: transparent;
  font-weight: 700;
  font-size: 26px;
}

.back {
  text-decoration: none;
  color: black;
}

.back:hover {
  color: #7d4a7d;
}

@media screen and (max-width: 1200px) {
  .navbar {
    max-width: 300px;
  }
  .links {
    max-width: 300px;
  }
  .navbarContainer {
    max-width: 300px;
  }
}

@media screen and (max-width: 1100px) {
  .navbar {
    display: none;
  }
  .title {
    position: unset;
    padding: 0;
  }
  .secret {
    display: unset;
    visibility: visible;
    background-color: transparent;
    box-shadow: unset;
    z-index: 100000;
  }
  .links {
    font-size: 36px;
    max-width: 100%;
    padding: 0;
  }
  .img {
    position: unset;
    padding: 0;
  }
  .name {
    position: unset;
  }
  .active {
    width: 100%;
    color: #7D4A7D;
    background: transparent;
    box-shadow: unset;
  }
  .link {
    width: 100%;
  }
  .link:hover {
    background: transparent;
    color: #7D4A7D;
    box-shadow: unset;
  }
}

@media screen and (max-width: 740px) {
  .title {
    font-size: 28px;
    padding: 0;
  }
  .img {
    max-width: 200px;
    margin: 0;
    padding: 0;
  }
  .buttonBack {
    position: unset;
    padding: 20px 0;
  }
}

@media screen and (max-width: 520px) {
  .links {
    font-size: 30px;
  }

}

@media screen and (max-width: 400px) {
  .link {
    padding: 5px 0;
    color: black;
    width: 100%;
  }
  .active {
    padding: 5px 0;
    width: 100%;
  }
}

@media screen and (max-width: 340px) {
  .img {
    max-width: 180px;
  }
  .links {
    font-size: 24px;
  }
}

@media screen and (max-height: 800px) {
  .navbar {
    display: none;
  }
  .title {
    position: unset;
    padding: 0;
  }
  .secret {
    display: unset;
    visibility: visible;
    background-color: transparent;
    box-shadow: unset;
    z-index: 100000;
  }
  .links {
    font-size: 30px;
    position: unset;
    max-width: 100%;
    padding: 0;
  }
  .img {
    position: unset;
    padding: 0;
  }
  .name {
    position: unset;
    padding: 0 0 40px 0;
  }
  .active {
    width: 100%;
    color: #7D4A7D;
    background: transparent;
    box-shadow: unset;
  }
  .link {
    width: 100%;
  }
  .link:hover {
    background: transparent;
    color: #7D4A7D;
    box-shadow: unset;
  }
  .buttonBack {
    position: unset;
    padding: 20px 0;
  }
}