.main {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
}

.main2 {
  @extend .main;
  padding: 100px 0;
}

.formBtn {
  border-radius: 50%;
  max-width: 100px;
  padding: 20px;
  width: 50px;
  height: 50px;
  border: 2px solid white;
  color: white;
  background: transparent;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
  transition-duration: 0.5s;

}

.formBtn:hover {
  border: 2px solid orange;
  color: black;
  background: orange;
}

.inProgress {
  border: 2px solid orange;
  color: black;
  background: orange;
}

.success {
  border: 2px solid green;
  color: white;
  background: green;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.title {
  font-family: Montserrat, serif;
  font-size: 48px;
  color: white;
  padding: 0;
  margin: 0;
}

.titleAdmin {
  @extend .title;
  padding: 50px 0 0 0;
}

.btnContainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 50px;
}

.btn {
  background: #7d4a7d;
  border: 0;
  padding: 10px;
  color: white;
  font-size: 24px;
  border-radius: 20px;
  cursor: pointer;
  transition: 0.5s;
  margin-bottom: 20px;
}

.btn:hover {
  background: #563356;
}

.trueBtn {
  @extend .btn;
  background: #1C675A;
}

.trueBtn:hover {
  background: #1e3a1b;
}


.container {
  display: flex;
  align-items: center;
  max-width: 1200px;
  width: 100%;
  justify-content: center;
  flex-wrap: wrap;
}

.img {
  max-width: 900px;
  width: 95%;
}

.links {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  max-width: 300px;
  width: 100%;
  padding: 20px 0;
  color: white;
}

.formRadioBtn {
  display: inline-block;
  margin-right: 10px;
}

.formRadioBtn input[type=radio] {
  display: none;
}

.formRadioBtn label {
  display: inline-block;
  cursor: pointer;
  padding: 0 15px;
  line-height: 34px;
  border: none;
  border-radius: 6px;
  user-select: none;
  font-size: 20px;
}

.formRadioBtn input[type=radio]:checked + label {
  background: #7d4a7d;
}

/* Hover */
.formRadioBtn label:hover {
  color: white;
}


.border {
  text-align: left;
  border: 1px solid white;
  padding: 20px;
  color: white;
  margin: 10px;
  font-size: 18px;
}

.p {
  padding: 0 0 10px 0;
}

.buttonAccept {
  margin-top: 10px;
  padding: 10px;
  background: #1C675A;
  border: none;
  color: white;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;
  transition: 0.5s;
}

.buttonAccept:hover {
  background: #13443a;
}

@media screen and (max-width: 900px) {
  .main2 {
    padding: 0;
  }
}

@media screen and (max-width: 420px) {
  .title {
    font-size: 28px;
  }
  .links {
    flex-wrap: wrap;
  }
}