.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
  color: white;
}

.cardContainer {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1200px;
  width: 95%;
}

.addContainer {
  @extend .cardContainer;
  width: 90%;
}

.title {
  font-family: 'Montserrat', serif;
  font-size: 48px;
  padding: 50px 0 0 0;
}

.links {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 20px 0;
}

.formRadioBtn {
  display: inline-block;
  margin-right: 10px;
}

.formRadioBtn input[type=radio] {
  display: none;
}

.formRadioBtn label {
  display: inline-block;
  cursor: pointer;
  padding: 0 15px;
  line-height: 34px;
  border: none;
  border-radius: 6px;
  user-select: none;
  font-size: 20px;
}

.formRadioBtn input[type=radio]:checked + label {
  background: #7d4a7d;
}

/* Hover */
.formRadioBtn label:hover {
  color: white;
}


.img {
  border-radius: 20px;
  cursor: pointer;
  max-width: 300px;
  height: 200px;
  width: 100%;
}

.closeContainer {
  position: relative;
  display: flex;
  justify-content: flex-end;
  max-width: 250px;
  width: 100%;
  max-height: 550px;
  height: 550px;
  margin: 50px;
  cursor: pointer;
}

.custom {
  border-radius: 10px;
}

.close {
  position: absolute;
  right: 10px;
  top: 5px;
  font-size: 23px;
  background-color: transparent;
  border: none;
  display: flex;
  justify-content: center;
  align-content: center;
  cursor: pointer;
  transition-duration: 0.5s;
}

.close:hover {
  color: red;
}

@media screen and (max-width: 1240px) {
  .closeContainer {
    margin: 30px;
  }
}

@media screen and (max-width: 900px) {
  .closeContainer {
    margin: 30px;
  }
}

@media screen and (max-width: 420px) {
  .closeContainer {
    margin: 25px 0;
  }
  .links {
    flex-direction: column;
  }
  .formRadioBtn {
    margin-right: 0;
    margin-bottom: 20px;
  }
}