.hero {
  width: 100%;
  justify-content: center;
  display: flex;
  height: 100vh;
  max-height: 100vh;
  background-size: cover;
  color: white;
}

.container {
  max-width: 1500px;
  width: 95%;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
}

.text {
  max-width: 1200px;
  width: 100%;
  overflow-wrap: break-word;
  word-break: break-word;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  text-align: center;
  font-size: 64px;
  font-weight: 500;
  line-height: 78px;
  font-style: normal;
}

.title {
  font-family: Montserrat, serif;
}

.img {
  position: absolute;
  max-width: 110px;
  width: 100%;
  cursor: pointer;
  animation: arrow 1.5s linear infinite;
}

.imgContainer {
  display: flex;
  justify-content: center;
  position: relative;
}

@keyframes arrow {
  0% {
    top: 0;
  }
  50% {
    top: 50px;
  }
  100% {
    top: 0;
  }
}

@media screen and (max-width: 720px) {
  .container {
    padding: 0;
  }

  .text {
    font-size: 56px;
  }

  .img {
    max-width: 80px;
  }

  .title {
    max-height: 500px;
    height: 100%;
  }
}

@media screen and (max-width: 500px) {
  .text {
    font-size: 46px;
  }

  .img {
    max-width: 60px;
  }

  .title {
    max-height: 500px;
    height: 100%;
  }
}

@media screen and (max-width: 420px) {
  .text {
    font-size: 42px;
  }

  .img {
    max-width: 60px;
  }

  .title {
    height: 100%;
    line-height: 1.5;
  }
}

@media screen and (max-width: 300px) {
  .text {
    font-size: 32px;
  }

  .img {
    max-width: 40px;
  }

  .title {
    height: 100%;
    line-height: 1.5;
  }
}